<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<section>
    <form action="/register" method="post">
        <h1>Regisztráció</h1>
        <div class="inputbox">
            <input name="felhasznalonev" id="felhasznalonev" type="text" required>
            <label for="felhasznalonev">Felhasználónév</label>
        </div>
        <div class="inputbox">
            <input name="jelszo" type="password" id="jelszo" required>
            <label for="jelszo">Jelszó</label>
        </div>
        <div class="inputbox">
            <input name="confirm_jelszo" type="password" id="confirm_jelszo" required>
            <label for="confirm_jelszo">Jelszó megerősítése</label>
        </div>
        <div class="inputbox">
            <label for="role">Szerepkör</label>
            <br>
            <br>
            <select name="szerepkor" id="role" required>
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="visitor" selected>Visitor</option>
            </select>
        </div>
        <button type="submit">Regisztráció</button>
        <div class="register">
            <p>Van már fiókja? <a href="/login">Bejelentkezés</a></p>
        </div>
    </form>
</section>

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const registerForm = document.querySelector('section');
        registerForm.style.opacity = 0;

        setTimeout(() => {
            registerForm.style.transition = 'opacity 1s ease-in-out';
            registerForm.style.opacity = 1;
        }, 500);

        const registerButton = document.querySelector('button');
        registerButton.addEventListener('click', function (event) {
            const passwordInput = document.querySelector('input[name="jelszo"]');
            const confirmPasswordInput = document.querySelector('input[name="confirm_jelszo"]');

            if (passwordInput.value !== confirmPasswordInput.value) {
                event.preventDefault();
                alert("A jelszavak nem egyeznek!");
                registerForm.classList.add('shake');

                setTimeout(() => {
                    registerForm.classList.remove('shake');
                }, 1000);
            }
        });
    });
</script>
</body>
</html>
